@model IEnumerable<TrashManagement.Models.Customer>

@{
    ViewData["Title"] = "CustomerMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CustomerMap</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrashDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartSuspend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndSuspend)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrashDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartSuspend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndSuspend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
