@model IEnumerable<TrashManagement.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello ! Here is todays trash pickups.</h1>

<p>
    <div class="form-group">
        @*<label asp-for="TrashDay" class="control-label"></label>*@
        <select data-val="true" data-val-required="The Person field is required." id="Person" name="Person">
            <option value="">Select A Day</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
        </select>
        @*<span asp-validation-for="TrashDay" class="text-danger"></span>*@
    </div>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            
            
            
           
           
            <th>
                @Html.DisplayNameFor(model => model.pickupComplete)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.pickupComplete)
                <input id="Checkbox1" type="checkbox" />

                <a asp-action="Confirmed" asp-route-id="@item.Id">Confirm Trash Pickup</a>
            </td>
            
           
        </tr>
}
    </tbody>
</table>
