@model TrashManagement.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrashDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartSuspend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndSuspend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickupComplete)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(model => model.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.Balance)
            </td>
            <td>
                @Html.DisplayFor(model => model.TrashDay)
            </td>
            <td>
                @Html.DisplayFor(model => model.ExtraPickup)
            </td>
            <td>
                @Html.DisplayFor(model => model.StartSuspend)
            </td>
            <td>
                @Html.DisplayFor(model => model.EndSuspend)
            </td>
            <td>
                @Html.DisplayFor(model => model.pickupComplete)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>

    </tbody>
</table>
